{%extends "./base.html"%}

{%block centre%}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active custom-image-size">
            <img src="/static/images/image_Ecole/grand_imageEco.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item custom-image-size">
            <img src="/static/images/image_Ecole/Image_Carou2.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item custom-image-size">
            <img src="/static/images/image_Ecole/Image_Carou3.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="sect_restaurant">
    <div class="container2_restaurant">
        <button id="refresh" class="btn1_resto" onclick="document.location.reload(false)">
            <p> Autre Propositions</p>
        </button>
        <button id="filtre" class="btn2_resto">
            <p>Trier par</p>
        </button>
        <div class="wrapper_2">
            <div class="display">
                <div id="time"></div>
            </div>

        </div>
    </div>
</section>
<!-- MY FILTER -->
<!-- Contenu à faire apparaître depuis la droite -->
<form id="contenue-filtrer" class="contenue-filtre" method="post">
    <div class="wrapper_resto">
        <header class="h_resto">
            <h3 class="filter-h3">TRIER PAR RAPPORT A </h3>
        </header>
        <label for="localite" class="lab_resto"><strong>Localité</strong></label>
        <select id="localite" name="localite" class="selection_resto">
            <!-- Liste déroulante des villes et quartiers de la Côte d'Ivoire -->
            <option value="Abidjan">Abidjan</option>
            <option value="Yamoussoukro">Yamoussoukro</option>
        </select>

        <div class="price-input">
            <div class="field">
                <span>Min</span>
                <input type="number" class="input-min" value="2500">
            </div>
            <div class="separator">
                -
            </div>
            <div class="field">
                <span>Max</span>
                <input type="number" class="input-max" value="7500">
            </div>
        </div>
        <div class="slider">
            <div class="progress"></div>
        </div>
        <div class="range-input">
            <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
            <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
        </div>
    </div>

</form>
<!-- MY FILTER -->
<div class="card-list-ecole">
    <div class="card-item-ecole" data-nom="UNIVERSITE FHB DE COCODY" data-contenu="CONTENU ECOLES">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image1.png" alt="img"></li>
        </ul>
        <span class="developer">UNIVERSITE FHB DE COCODY</span>
        <h3><B>CONTENU ECOLES</B></h3>
        <div></div>
    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image2.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image3.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/image4.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image1.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image2.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image5.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image2.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images//image_Ecole/Image4.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/image2.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image1.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image5.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/image1.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="/static/images/image_Ecole/Image2.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
    <div class="card-item-ecole">
        <ul class="images-ecole">
            <li class="img"><img src="./static/images/image_Ecole/Image5.png" alt="img"></li>
        </ul>
        <span class="designer">NOM ECOLE</span>
        <h3><B>CONTENU ECOLE</B></h3>

    </div>
</div>
<div class="lightbox">
    <div class="wrapper">
        <header>
            <div class="details">
                <!-- Remplacez l'icône de fourchette et couteau par l'icône de graduation cap -->
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Nom de l'école</span>
            </div>
            <div class="buttons">
                <i class="fa-solid fa-xmark" id="close-icon"></i>
            </div>
        </header>
        <!-- ici que je dois modifier -->
        <div class="preview-img">
            <div class="img"><img src="" alt="preview-img"></div>
            <div class="info_ecole">
                <div>Nom de l'école</div>
                <div>Lieu de l'école</div>
                <div>Contact de l'école</div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var lightbox = document.querySelector('.lightbox');
        var previewImg = lightbox.querySelector('.preview-img img');
        var infoEcole = lightbox.querySelector('.info_ecole');
        var closeButton = lightbox.querySelector('#close-icon');

        var cardItemsEcole = document.querySelectorAll('.card-item-ecole');
        cardItemsEcole.forEach(function (cardItemEcole) {
            cardItemEcole.addEventListener('click', function () {
                var nomEcole = cardItemEcole.getAttribute('data-nom');
                var contenuEcole = cardItemEcole.getAttribute('data-contenu');

                // Ajoutez le chemin de l'image ici
                previewImg.src = "";
                infoEcole.innerHTML = `
                    <div>Nom de l'école: ${nomEcole}</div>
                    <div>Contenu de l'école: ${contenuEcole}</div>
                `;
                lightbox.classList.add('active');
            });
        });

        closeButton.addEventListener('click', function () {
            lightbox.classList.remove('active');
        });
    });
</script>



{%endblock centre%}