/* DEBUT CSS POUR INDEX*/
/* FIN CSS POUR INDEX */

/*DEBUT CSS POUR ACCUEIL*/
/*FIN CSS POUR ACCUEIL*/

/*DEBUT CSS POUR NAVBAR*/
/*FIN CSS POUR NAVBAR*/

/*DEBUT CSS POUR FOOTER*/
/*FIN CSS POUR FOOTER*/

/*DEBUT CSS POUR ECOLE*/
/* ----------------------- Page ecole (Desirée)----------------------- */

.viewtrier {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
  margin-top: 10%;
}

.View {
  left: 10%;
  color: black;
  font-size: 40px;
  font-family: Inter;
  font-weight: 400;
  background: rgb(244, 225, 225);
  word-wrap: break-word;
  border: 2px solid gold;

}

.View:hover {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0 0 10px 10px #aaa;
}

.trierpar {
  height: 125px;
  width: 125px;
  left: 80%;
  background: rgb(244, 225, 225);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid gold;
  font-size: 23px;
  font-weight: bold;
}

.trierpar:hover {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0 0 10px 10px #aaa;

}

.trierpar a,
.View a {
  text-decoration: none;
  color: black;
}


/* * Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #ecececdb;
}

/* 
.custom-image-size img {
  width: 4839px;
  height: 3012px;
  object-fit: center;
} */

.card-list-ecole {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 150px auto;
  padding: 20px;
  gap: 20px;
  /* border: 2px solid red; */
}

.card-list-ecole .card-item-ecole {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.card-list-ecole .card-item-ecole ul {
  list-style-type: none;
}

.card-list-ecole .card-item-ecole:hover {
  border: 2px solid #000;
}

.card-list-ecole .card-item-ecole img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-list-ecole span {
  display: inline-block;
  background: #F7DFF5;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list-ecole .developer {
  background-color: #F7DFF5;
  color: #B22485;
}

.card-list-ecole .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}

.card-item-ecole .content .title {
  font-size: 25px;
  font-weight: 600;
}

.card-item-ecole .content .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}

.card-item-ecole .content p {
  text-align: justify;
  margin: 10px 0;
}

/* 
@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

h1 {
  text-align: center;
  margin-top: 50px;
}

/* Image lightbox styling */
.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
}

.lightbox.show {
  visibility: visible;
}

.lightbox .wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.1s ease;
}

.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.wrapper :where(header, .details) {
  display: flex;
  align-items: center;
}

.wrapper header {
  justify-content: space-between;
}

header .details i {
  font-size: 1.7rem;
}

header .details span {
  font-size: 1.2rem;
  margin-left: 10px;
}

/* header .buttons{
  background: green;
  height: 40px;
  width: 40px;
} */


header .buttons i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  background: #6C757D;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease;
}

header .buttons i:hover {
  background: #5f666d;
}

.wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.preview-img .img {
  max-height: 65vh;
}


.preview-img img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

/* Responsive media query code */
/* @media screen and (max-width: 688px) {
  .lightbox .wrapper {
    padding: 12px;
    max-width: calc(100% - 26px);
  }

  .wrapper .preview-im {
    margin-top: 15px;
  }

} */


/* ----------------------- FIN Page ecole (Desirée)----------------------- */
/*FIN CSS POUR ECOLE*/

/*DEBUT CSS POUR FILM*/
/*FIN CSS POUR FILM*/

/*DEBUT CSS POUR HOTEL*/
/*FIN CSS POUR HOTEL*/

/*DEBUT CSS POUR RESTAURANTS*/
/* l'heure */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.wrapper_2 {
  height: 70px;
  width: 260px;
  position: relative;
  border-radius: 10px;
  cursor: default;
}
.wrapper_2 .display,
.wrapper_2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper_2 .display {
  z-index: 999;
  height: 85px;
  width: 305px;
  background: #ebe9e9;
  text-align: center;
}
.display #time {
  line-height: 85px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #066D84;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper_2 span {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}

/* fin heure */

/* trier par */
/* Commun à toutes les tailles d'écran */
.sect_restaurant {
  display: grid;
  height: 70px;
  place-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.container2_restaurant {
  display: flex;
  gap: 20rem;
  justify-content: center;
}
.container2_restaurant .btn1_resto,
.container2_restaurant .btn2_resto {
  width: 170px;
  height: 50px;
  border: 3px solid #066D84;
  border-radius: 10px;
}
.btn1_resto:active {
  background-color: red;
}
.btn2_resto:active {
  background-color: green;
}
/* Ajout de styles spécifiques pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
  .container2_restaurant {
    flex-direction: column;
    gap: 1rem;
  }
  .container2_restaurant .btn1_resto,
  .container2_restaurant .btn2_resto {
    width: 100%;
    max-width: 300px;
    margin-right: 0;
  }
}
/* fin trier par */
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
::selection {
  color: #ffffff;
  background: #17A2B8;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
  margin-top: 90px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #9e092a;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #000000;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
/* MY CARD FILTER */
.div-card-filter {
  /* min-height: 200px; */
  width: 100%;
  /* border: 2px solid red; */
  /* display: flex; */
}
.resto {
  /* border: 2px solid blue; */
  width: 100%;
  /* width: 65%; */
  height: 100%;
  margin: 0;
}
.contenue-filtre h3{
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.filter-content {
  /* border: 4px solid black; */
  width: 35%;
  /* display: none; */
  /* transform: translateX(400px); */
  /* display: none; */
  /* visibility: hidden; */
}
.contenue-filtre {
  /* border: 2px solid green; */
  height: 100%;
  margin: 0;
  display: none;
  width: 25%;
}
.wrapper_resto {
  /* visibility: hidden; */
  /* display: none; */
  background: #066D84;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
.contenue-filtre_visible {
  height: 500px;
  display: block;
  margin: 10px 10px 0 0;
}
.div-card-filter_visible {
  display: flex;
}
.resto_width_visible {
  width: 75%;
  /* border: 2px solid purple; */
}
/*FIN MY CARD FILTER */
/* fin trier par */
.tail_img1_restaurant {
  height: 80vh;
  background-image: url("images/image_Restaurant/pexels-pixabay-262978.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #ecececdb;
}
.card-list_restaurant {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* max-width: 1250px; */
  margin: 15px auto;
  padding: 10px;
  gap: 20px;

}
.card-list_restaurant .card-item_restaurant {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}
.card-list_restaurant .card-item_restaurant:hover {
  border: 2px solid #000;
}
.card-list_restaurant .card-item_restaurant img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}
.card-list_restaurant span {
  display: inline-block;
  background: #F7DFF5;
  margin-top: 25px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
  text-align: center !important;
}
.card-list_restaurant h4{
  margin-top: 15px;
  text-align: center;
}
.card-list_restaurant .nomResto1 {
  background-color: #F7DFF5;
  color: #B22485;
}
.card-list_restaurant .nomResto2 {
  background-color: #dece23;
  color: #efefef;
}
.card-list_restaurant .nomResto3 {
  background-color: #c118d1;
  color: #eff0f1;
}.card-list_restaurant .nomResto4 {
  background-color: #087df1;
  color: #f1f4f7;
}
.card-list_restaurant .nomResto5 {
  background-color: #19f319;
  color: #ffffff;
}
.card-item_restaurant h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}
.card-item_restaurant .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}
.card-list_restaurant .card-item_restaurant:hover .arrow {
  background: #000;
  color: #fff;
}
@media (max-width: 1200px) {
  .card-list_restaurant .card-item_restaurant {
    padding: 15px;
  }
}
@media screen and (max-width: 980px) {
  .card-list_restaurant {
    margin: 0 auto;
  }
}
/* lorsqu'on clique sur une image*/
.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
}
.lightbox.show {
  visibility: visible;
}
.lightbox .wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.1s ease;
}
.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.wrapper :where(h_resto, .details) {
  display: flex;
  align-items: center;
}
.wrapper .h_resto {
  justify-content: space-between;
}
.h_resto .details i {
  font-size: 1.7rem;
}
.h_resto .details span {
  font-size: 1.2rem;
  margin-left: 10px;
}
.h_resto .buttons i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  background: #6C757D;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease;
}
.h_resto .buttons i:hover {
  background: #5f666d;
}
.wrapper .preview-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.preview-img .img {
  width: 50%;
  height: 100%;
  margin-right: 10px;
}
.preview-img .img img {
  width: 100%;
  height: 100%;
}
.preview-img .info_resto {
  width: 50%;
  height: 275px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.info_resto div:nth-child(1) {
  width: 90%;
  height: 30px;
  border: 1px solid red;
  text-align: center;
  justify-content: center;

}
.info_resto div:nth-child(2) {
  width: 90%;
  height: 45px;
  border: 1px solid green;
  margin-top: 20px;
}
.info_resto div:nth-child(3) {
  width: 100%;
  height: 150px;
  border: 1px solid blue;
  margin-top: 20px;

}
.editor {
  background-color: #d6f8d6;
  color: #205c20;
  border-radius: 50%;
}
/* Responsive media query code */
@media screen and (max-width: 688px) {
  .lightbox .wrapper {
    padding: 12px;
    max-width: calc(100% - 26px);
  }

  .wrapper .preview-img {
    margin-top: 15px;
  }

  .gallery .images {
    max-width: 100%;
    padding: 0 13px;
    margin-top: 20px;
  }
}
/* fin du css pour lorsqu'on clique sur une image*/

/*FIN CSS POUR RESTAURANTS*/





/*DEBUT CSS POUR CONNEXION*/
/*FIN CSS POUR CONNEXION*/

/*DEBUT CSS POUR INSCRIPTION*/
/*FIN CSS POUR INSCRIPTION*/

/*DEBUT CSS POUR PREFERENCE*/
/*FIN CSS POUR PREFERENCE*/

