{%extends "./base.html"%}

{%block centre%}

<!--   image-fond  -->
<section>
    <div class="img1_pageAccueil">

        <!-- <div class="search">
            <div class="input-box">
                <input type="text" placeholder="Search...">
                <span class="icon">
                    <i class="uil uil-search search-icon"></i>
                </span>
                <i class="uil uil-times close-icon"></i>
            </div>
        </div> -->
</section>

<div style="margin-bottom: 40px; margin-top: 40px" class="btn_actualiser"><button class="actualiser-button"
        onclick="actualiserPage()">Actualiser</button></div>
<!-- Carousel des images des hôtels en fonction des preferences hotel de l'users-->
<div class="carou">
    <div class="carousel">
        {% for notes_list in notes %}
        <div class="carousel-container">
            <div class="imagecarou">
                <img src="{{ notes_list['image'] }}" alt="{{ notes_list['alt'] }}">
            </div>
            <div class="rating">
                <p style="font-size: 25px; font-weight: bold; margin-top: 10px">{{ notes_list['etablissement'] }}</p>
                {% for i in range(1, 6) %}
                <span style="font-size: 40px; color: rgb(248, 206, 70);">{% if i <= notes_list['note'] %}★{% else %}☆{%
                        endif %}</span>
                        {% endfor %}
                        <!-- Ajoutez cette balise pour afficher la note en bas -->
                        <p class="note">Note : {{ notes_list['note'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function () {
        $('.carousel').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
        });
    });
</script>
<script>
    function actualiserPage() {
        location.reload();
    }

    $(document).ready(function () {
        $('.carousel').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
        });
    });
</script>

{%endblock centre%}