CREATE DATABASE ivoryExplore;

USE ivoryExplore;

-- Table users
CREATE TABLE users (
    id INT PRIMARY KEY IDENTITY(1,1),
    nom_user VARCHAR(50) NOT NULL,
    prenom_user VARCHAR(50) NOT NULL,
    username VARCHAR(10) NOT NULL,
    email VARCHAR(30) NOT NULL,
    passwords VARCHAR(225) NOT NULL,
    UNIQUE(email),
	profileImage VARCHAR(90) DEFAULT 'profile.png'
);

-- Table CategorieProduits
CREATE TABLE CategorieProduits (
    codecategorie INT PRIMARY KEY,
    nomcategorie VARCHAR(50)
);

-- Table Client
CREATE TABLE Client (
    CodeClient INT PRIMARY KEY,
    NomClient VARCHAR(50),
    AdresseClient VARCHAR(100),
    Telephone VARCHAR(15)
);

-- Table Commande
CREATE TABLE Commande (
    NumCommande INT PRIMARY KEY,
    DateCommande DATE,
    CodeClient INT,
    CodeProduit INT,
    Quantite INT,
    PrixTotal FLOAT
);

-- Table Fournisseur
CREATE TABLE Fournisseur (
    CodeFournisseur INT PRIMARY KEY,
    NomFournisseur VARCHAR(50),
    AdresseFournisseur VARCHAR(100),
    Telephone VARCHAR(15)
);

-- Table historique
CREATE TABLE historique (
    id INT PRIMARY KEY IDENTITY(1,1),
    recherche VARCHAR(25) NOT NULL
);

-- Table hotel
CREATE TABLE hotel (
    id_hotel INT PRIMARY KEY,
    nom VARCHAR(255),
    localisation VARCHAR(255),
    lien_image_hotel VARCHAR(255)
);

-- Table nco
CREATE TABLE nco (
    id_co INT PRIMARY KEY IDENTITY(1,1),
    nombre_connexion INT,
    id_user INT NOT NULL,
    FOREIGN KEY (id_user) REFERENCES users(id)
);

-- Table preference
CREATE TABLE preference (
    id_preference INT PRIMARY KEY IDENTITY(1,1),
    interests TEXT NOT NULL,
    id_user INT NOT NULL,
    FOREIGN KEY (id_user) REFERENCES users(id)
);

-- Table produits
CREATE TABLE produits (
    codeproduits INT PRIMARY KEY,
    nom VARCHAR(200),
    descriptions VARCHAR(200),
    stockactuel INT,
    prixunitaire INT,
    codecategories INT,
    codeFournisseurs INT,
    FOREIGN KEY (codecategories) REFERENCES CategorieProduits(codecategorie),
    FOREIGN KEY (codeFournisseurs) REFERENCES Fournisseur(CodeFournisseur)
);

-- Table restaurant
CREATE TABLE restaurant (
    id_resto INT PRIMARY KEY,
    nom_resto VARCHAR(255),
    localisation VARCHAR(255),
    ville_ou_commune VARCHAR(255),
    spécialité VARCHAR(255),
    téléphone VARCHAR(255),
    lien_image_resto VARCHAR(255)
);

-- Table universites1
CREATE TABLE universites1 (
    ID INT PRIMARY KEY IDENTITY (1,1),
    Etablissement VARCHAR(255),
    Ville VARCHAR(255),
    Commune VARCHAR(255),
    MontantDesFraisDInscription INT,
    ListeDesFilieres VARCHAR(255),
	ImageUniversite VARCHAR(1000)
);


-- Ajout des contraintes étrangères
ALTER TABLE Commande ADD FOREIGN KEY (CodeClient) REFERENCES Client(CodeClient);
ALTER TABLE Commande ADD FOREIGN KEY (CodeProduit) REFERENCES produits(codeproduits);
ALTER TABLE nco ADD FOREIGN KEY (id_user) REFERENCES users(id);
ALTER TABLE preference ADD FOREIGN KEY (id_user) REFERENCES users(id);

select * from universites1

-- Insertion dans la table unuversité --
