<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification du compte</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='./Images/logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='./profile.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">      
</head>

<body>
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Modification du compte
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general" onclick="updateURL('#account-general')">Informations du compte
                        </a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password" onclick="updateURL('#account-change-password')">Changer mon mot de passe
                            
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="form-group text-center">
                                        <img src="{{ url_for('static', filename='uploads/images_profil_parent/' + user_data.profileImage)}}"
                                            width="30%" id="photo">
                                    </div>
                                </div>
                                <form action="{{ url_for('Modif_compte') }}" method="post">
                                    <input type="hidden" name="id" value="{{ user_data.id }}">
                                    <div class="form-group">
                                        <label class="form-label">Prenom</label>
                                        <input type="text" class="form-control mb-1" value="{{ user_data.prenom_user }}"
                                            name="prenom">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Nom</label>
                                        <input type="text" class="form-control" value="{{ user_data.nom_user }}"
                                            name="nom">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input type="text" class="form-control mb-1" value="{{ user_data.email }}"
                                            name="mail">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Username/Nom Utilisateur</label>
                                        <input type="text" class="form-control" value="{{ user_data.username }}"
                                            name="username">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sauvegarder les
                                        modifications</button>&nbsp;
                                    <button type="button" class="btn btn-default" ><a
                                            href="{{ url_for('accueil') }}" style="text-decoration: none;">Annuler</a></button>
                                </form>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="account-change-password">
                            <form action="{{ url_for('Modif_mot_de_passe') }}" method="post">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Ancien mot de passe</label>
                                        {% for message in get_flashed_messages() %}
                                        <div class="alert alert-{{ message.category }} flash">
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                        <input type="password" class="form-control" name="mdp">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Nouveau mot de passe</label>
                                        <input type="password" class="form-control" name="new">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Répétez le mot de passe</label>
                                        <input type="password" class="form-control" name="confirm">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sauvegarder les
                                    modifications</button>&nbsp;
                                <button type="button" class="btn btn-default"><a
                                        href="{{ url_for('Modif_compte') }}" style="text-decoration: none;">Annuler</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function updateURL(hash) {
            var currentURL = window.location.href;
            var newURL = currentURL.split('#')[0] + hash;
            window.history.replaceState({}, document.title, newURL);
        }
    </script>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script type="text/javascript"> -->

    <!-- </script> -->
</body>

</html>